body {
  margin: 0;
  height: 100vh;
  font-size: 16px;
  font-family: Quicksand, Helvetica, sans-ser;
  background: #141617;
  color: #f5f8fb;
}
.flex {
  display: flex;
}
.flex--jc {
  justify-content: center;
}
.flex--dc {
  flex-direction: column;
}
.h100p {
  height: 100%;
}
.content {
  flex: 1;
}
.content--center {
  align-self: center;
}
.content__meta {
  margin-top: 16px;
  font-size: 12px;
  color: rgba(245,248,251,0.5);
}
.content__meta a {
  color: rgba(245,248,251,0.5);
}
.footer {
  align-self: end;
  padding: 0 24px;
}
.footer__link {
  display: flex;
  align-items: center;
  color: #5865f2;
}
.footer__link > span {
  margin-right: 0.5em;
}
.footer__link > img {
  height: 32px;
}
